@font-face {
    font-family: LeagueSpartan;
    src: url(../font/LeagueSpartan-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: HKGrotesk;
    src: url(../font/HKGrotesk-Regular.otf);
}

@font-face {
    font-family: HKGrotesk;
    src: url(../font/HKGrotesk-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: HKGrotesk;
    src: url(../font/HKGrotesk-Light.otf);
    font-weight: 300;
}

body {
    background-color: #272f45;
    width: 1180px;
    margin: auto;
    color: white;
    font-family: HKGrotesk;
    font-weight: normal;
    font-style: normal;
}

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 181px;
}

.search {
    border-bottom: 2px solid #63757e;
    margin-right: 9px;
}

.search img {
    width: 20px;
    height: 20px;
}

.search input {
    background-color: #272f45;
    border: none;
    margin-bottom: 5px;
    color: #63757e;
}

.big {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 1180px;
    height: 703px;
    background-image: url("../img/Gina product.png");
}

.gina {
    color: #ffffff;
    width: 361px;
    padding-left: 69px;
}

.gina h1 {
    font-weight: bold;
    font-size: 80pt;
}

.gina p {
    font-weight: 300;
    font-size: 24pt;
}

.badge {
    margin: 44px 38px;
    background-image: url(../img/badge.png);
    background-size: 113px 116px;
    width: 113px;
    height: 116px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

h1,
h2 {
    font-family: LeagueSpartan;
    font-weight: bold;
}

.boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 34px 9px 39px 9px;
}

.boxes p {
    font-size: 18pt;
    font-family: HKGrotesk;
    font-weight: 300;
}

.boxes h2 {
    font-size: 30pt;
}

.beoplay {
    background-color: #60b8a3;
    background-image: url('../img/Beoplay A1 product.png');
    background-repeat: no-repeat;
    background-position: -280px -85px;
    width: 560px;
    height: 520px;
}

.beoplay-text {
    text-align: right;
    margin: 70px 34px 0 0;
}

.leica {
    width: 560px;
    height: 520px;
    background-color: #7777c5;
    background-image: url('../img/Leica MP product.png');
    background-position: 135px 240px;
    background-repeat: no-repeat;
}

.leica-text {
    margin: 70px 0 0 34px;
    width: 338px;
}

.details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 39px 9px 0 9px;
}

.molekule {
    background-color: #e97864;
    background-image: url('../img/Molekule product.png');
    background-position: -20px 255px;
    background-repeat: no-repeat;
    width: 361px;
    height: 441px;
}

.signature {
    background-color: #557581;
    background-image: url('../img/P9 Signature product.png');
    background-repeat: no-repeat;
    background-position: -323px -155px;
    width: 361px;
    height: 441px;
}

.molekule-text {
	margin: 70px 0 0 0;
}

.signature-text {
	margin: 270px 0 0 0;
}
.dr-text {
	margin: 70px 0 0 0;
}

.dr {
    background-color: #82c9d8;
    background-image: url('../img/DR-II product.png');
    background-position: 28px 255px;
    background-repeat: no-repeat;

    width: 361px;
    height: 441px;
}

button {
    background-color: transparent;
    border: 1px solid #f4d06b;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 75px;
}

button:hover {
	background-color: #f4d06b;
}

.beoplay button {
    margin-top: 20px;
}

.leica button {
    margin-top: 20px;
}

.details button {
    margin-top: 20px;
}

.details {
    text-align: center;
}

.details p {
    font-family: HKGrotesk;
    font-weight: 300;
    font-size: 16px;
}

.details h3 {
    font-family: HKGrotesk;
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}

.newsletter {

	color: #63757e;
	width: 807px;
	height: 286px;
	text-align: center;
	margin: auto;
	margin-top: 130px;
	margin-bottom: 60px;
	font-family: HKGrotesk;
    font-weight: 300;
}

.newsletter h3 {
	font-size: 36px;
	font-weight: 300;
	margin: 0;
}

.newsletter p {
	font-size: 18px;
	margin-bottom: 50px;
}

.email {
	background-color: transparent;
    border: 1px solid #63757e;
    color: #63757e;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 15px 0;
    cursor: pointer;
    width: 361px;
}

.subscribe {
	background-color: transparent;
    border: 1px solid #81c9d7;
    color: white;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 363px;
}
footer {
	display: block;
    width: 100%;
    height: 67px;
    padding: 28px 0 70px 0;
    text-align: center; 
    color: #63757e;
    margin: 0 0 70px 0;
}

footer a {
	color: #63757e;
	text-decoration: none;
	font-size: 24px;
}